.TypeSectionContainer {
  border: 1px dashed lightgray;
  flex: 1;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.TypeSectionContainer > code {
  border: 1px solid lightgray;
  padding-right: 2px;
  padding-left: 2px;
}

.TypeSectionContainer > p {
  word-break: break-all;
}

.TypeSectionContainer button {
  border: none;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
  background-color: transparent;
}

.TypeSectionContainer button:focus {
  outline: none;
  color: #333;
}

.selected {
  color: #333;
  font-weight: bold;
}

.unselected {
  color: gray;
  font-weight: normal;
}

.children {
  margin-top: 0;
  margin-left: 20px;
}

h2 {
  margin: 0;
}
