.TypeSectionContainer {
  border: 1px dashed lightgray;
  flex: 1;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.TypeSectionContainer > code {
  border: 1px solid lightgray;
  padding-right: 2px;
  padding-left: 2px;
}

.TypeSectionContainer > p {
  word-break: break-all;
}

.TypeSectionContainer button {
  border: none;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
  background-color: transparent;
}

.TypeSectionContainer button:focus {
  outline: none;
  color: #333;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.selected {
  color: #333;
  font-weight: bold;
}

.unselected {
  color: gray;
  font-weight: normal;
}

.children {
  margin-top: 0;
  margin-left: 20px;
}

h2 {
  margin: 0;
}
