.About {
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 4vw;
  color: #666;
  line-height: 1.5em;
}

.About h1 {
  color: #333;
  margin-bottom: 1em;
}

#titleSection {
  margin-bottom: 100px;
}

#contentSection {
  margin-bottom: 100px;
}

#contentSection li {
  margin-top: 20px;
}
